 /* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { */
.img-wrapper
{
    width: 100%;
     margin: 0 15px 15px 0;
     text-align: center;
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 569px) { 
    .img-wrapper
    {
        width: 50%;
        float: left;
    }
}