/* ---- NAV ----*/
.navbar{
  background-color: #59aaa5;
  padding: 0px;
  /* display:inline-block; */
  align-self: flex-start;
  max-width: 800px;
}
.navbar-brand{
  display: inline-block;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  justify-content: flex-start;

}
.navbar-nav{
  display: inline-flex;
  float: right;
}
.navbar-nav .nav-link{
  color: darkgray;
  background-color: transparent;
}

.content{
  background-color: rgb(240, 238, 238);
  border-bottom: 2mm solid #59aaa5;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 20%;
}
#ContainerPanel{  
  background-color: white;
  border: 1px solid lightgray;
  margin-left:20px;
  max-width: 800px;
}
.btn{
  background-color: #59aaa5;
  border: 1px solid #59aaa5;
}
.page-header{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  color: #59aaa5;
  padding-left: 15px;
  border-bottom: 3px solid lightgrey;
  margin-bottom: 20px;
  
}
.card{
  width:95%;
  align-items: center;
  background-color:#59aaa5; 
  margin-bottom: 20px; 
  display: inline-block;
}
.card.card-img{
  min-width: 480px;
  width: 100%;
}
.footerClass{
  text-align: center;
  padding: 25px;
  background-color: #666666;
  color:darkgrey;

}